<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bunkmonitor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bunkmonitor.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewCourse" ></activity>
        <activity android:name=".EntryActivity" ></activity>
        <activity android:name=".Timetable" ></activity>
        <activity android:name=".CheckEntryCal" ></activity>
        <activity android:name=".EditEntryActivity" ></activity>
        <activity android:name=".EditSlotsActivity" ></activity>
        <activity android:name=".LockscreenActivity" ></activity>
        <activity android:name=".Settings"
            android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:name=".optionsLongPress"
            android:theme="@android:style/Theme.Dialog"></activity>


        <activity android:name="com.exina.android.calendar.CalendarActivity" ></activity>


        <service android:name=".DailyNotifService" android:enabled="true" ></service>

        <receiver
            android:name=".AlarmReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"></action>
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.ACCESS_PR"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

</manifest>
